* {
  box-sizing: border-box;
}

html body {
  background-color: white;
  font-family: "Oswald", sans-serif;
}

html body .pl {
  font-family: "Playfair Display", serif;
}

html body .top-nav .logo-anchor {
  display: flex;
}

html body .top-nav .logo-anchor img {
  height: 80px;
}

html body .top-nav .mid-text .top {
  font-weight: 500;
}

html body .top-nav .mid-text .bottom {
  font-weight: 500;
  font-size: larger;
}

html body .top-nav button {
  background-color: #000000c9;
  outline: 0;
  border: 0;
}

html body .top-nav button:hover {
  background-color: black;
}

html body section {
  margin-bottom: 1rem;
}

html body section .section1-div {
  background-image: url(../media/section1png.png);
  color: white;
  background-repeat: no-repeat;
  background-size: cover;
}

html body section .section1-div button {
  background-color: #000000c9;
  outline: 0;
  border: 0;
}

html body section .section1-div button:hover {
  background-color: black;
}

html body section .section1-div .text-block {
  padding: 10rem 0rem;
}

html body section .section1-div .section-img {
  max-height: 700px;
}

html body section .section4 {
  justify-content: center;
}

html body section .section4 .color-block {
  padding: 1rem;
  background-color: #a52a2a26;
}

html body section .section6 {
  background-color: #7e0202b8;
  color: white;
}

html body section .section6 ul {
  list-style-type: none;
  text-align: center;
}

html body section .section6 .logo-a {
  background-color: white;
  margin: auto;
  width: fit-content;
}

html body section .section6 .logo-a img {
  height: 100px;
  width: fit-content;
}

@media (max-width: 575.98px) {
  html body .top-nav .logo-anchor img {
    height: 60px;
  }
  html body .top-nav .mid-text {
    font-size: small;
  }
  html body .top-nav button {
    font-size: small;
  }
  html body section {
    margin-bottom: .7rem !important;
  }
  html body section .section1-div .text-block {
    padding: 7rem 0rem;
  }
  html body section .section4 .color-block p {
    font-size: small;
  }
  html body section .section4 .color-block h2 {
    font-size: larger;
    font-weight: 800;
  }
  html body section .section5 p {
    font-size: small;
  }
}

@media (max-width: 424.98px) {
  html body .top-nav .logo-anchor img {
    height: 60px;
  }
  html body .top-nav .mid-text {
    font-size: small;
    display: none;
  }
  html body .top-nav button {
    font-size: small;
  }
  html body section {
    margin-bottom: .7rem !important;
  }
  html body section .section1-div .text-block {
    padding: 2rem 0rem;
  }
  html body section .section1-div .text-block .mb-5 {
    margin-bottom: 1.5rem !important;
  }
  html body section .section1-div .text-block h1 {
    font-size: x-large;
  }
  html body section .section1-div .text-block p {
    font-size: small;
  }
  html body section .section4 {
    flex-direction: column;
  }
  html body section .section4 .owner-img {
    margin: 0px;
    text-align: center;
    margin-bottom: 1rem;
  }
  html body section .section4 .owner-img img {
    width: 200px;
  }
  html body section .section4 .color-block p {
    font-size: small;
  }
  html body section .section4 .color-block h2 {
    font-size: larger;
    font-weight: 800;
  }
  html body section .section5 .p-5 {
    padding: 1rem !important;
  }
  html body section .section5 p {
    font-size: x-small;
  }
}
