
*{
    box-sizing: border-box;
}
$os:'Oswald', sans-serif;
$pl:'Playfair Display', serif;
html{
   
  body{
    background-color:white;
    font-family: $os;
    .pl{
        font-family: $pl;
    }
    .top-nav{
        .logo-anchor{
            display: flex;
            img{
                height: 80px;
                // width: 60px; 
                // margin-right: .5rem;
            }
            // .logo-text{
            //     display: grid;
            //     .bw{
            //         font-family: $os;
            //         font-size: medium;
            //         //font-family: $pl;
            //     }
            //     .k{
            //         font-family: $pl;
            //         //font-family: $os;
            //         font-size: x-large;
            //     }
            // }
        }
        .mid-text{
            .top{
                font-weight: 500;
            }
            .bottom{
                font-weight: 500;
                font-size: larger;
            }
            
        }
        button{
            background-color: #000000c9;
            outline: 0;
            border: 0;
            &:hover{
                background-color: black;
            }
        }
    }
    section{
        margin-bottom: 1rem;
        .section1-div{
            background-image: url(../media/section1png.png);
            color:white;
            background-repeat: no-repeat;
            background-size:cover ;
            button{
                background-color: #000000c9;
                outline: 0;
                border: 0;
                &:hover{
                    background-color: black;
                }
            }
            .text-block{
                padding:10rem 0rem;
            }
            .section-img{
                max-height: 700px;
            }

        }
        .section4{
            justify-content: center;
            
            .color-block{
                padding:1rem;

                background-color: #a52a2a26;
            }
        }
        .section6{
            background-color: #7e0202b8;
            color:white;;
            ul {
                list-style-type: none; text-align: center;
              }
            .logo-a{
                background-color: white;
                margin: auto;
                width: fit-content;
                
                img{
                    height: 100px;
                    width: fit-content;
                }
            }
        }
    }
  }
}
@media (max-width: 575.98px) {
    html body {
        .top-nav {
            .logo-anchor img {
                height: 60px ;
            }
            .mid-text{
                font-size: small;
            }
            button{
                font-size: small;
            }
        }
        section{
            margin-bottom: .7rem !important;
            .section1-div {
                 .text-block {
                    padding: 7rem 0rem;
                }
                
            }
            .section4{
                .color-block {
                    p {
                        font-size: small;
                    }
                    h2 {
                        font-size: larger;
                        font-weight: 800;
                    }
                }
            }
            .section5{
                p {
                    font-size: small;
                }
            }
        }
    }
 }
 @media (max-width: 424.98px) {
    html body {
        .top-nav {
            .logo-anchor img {
                height: 60px ;
            }
            .mid-text{
                font-size: small;
                display: none;
            }
            button{
                font-size: small;
            }
        }
        section{
            margin-bottom: .7rem !important;
            .section1-div {
                 .text-block {
                    padding: 2rem 0rem;
                    .mb-5{
                        margin-bottom: 1.5rem !important;
                    }
                    h1{
                        font-size: x-large;
                    }
                    p{
                        font-size: small;
                    }
                }
                
            }
            .section4{
                flex-direction: column;
                .owner-img{
                    margin: 0px;
                    text-align: center;
                    margin-bottom: 1rem;
                    img{
                        width: 200px;
                    }
                }
                .color-block {
                    p {
                        font-size: small;
                    }
                    h2 {
                        font-size: larger;
                        font-weight: 800;
                    }
                }
            }
            .section5{
                .p-5 {
                    padding: 1rem!important;
                }
                p {
                    font-size: x-small;
                }
            }
        }
    }
 }